.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.container {
  width: 50%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-submit:hover {
  background-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table th {
  background-color: #4CAF50;
  color: white;
}
.actions {
  display: flex;
  justify-content: space-around;
}

.actions button {
  padding: 5px;
  /* font-size: 16px; */
}

.table_container h2 {
  margin-bottom: 20px;
}

.spinner-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hidden{
  display: none;
}